{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <main>
        <div class="header">
            <h1 class="header-text">Latest Posts from People You Follow</h1>
            <input type="hidden" id="userId" value="{{ request.user.id }}">
            <input type="hidden" id="userName" value="{{ request.user.username }}">
        </div>
        <section class="posts-body">

        </section>
        <section class="nav-posts">

        </section>
    </main>

    <script>
        const csrf_token = "{{ csrf_token }}";
        const URLs = {
            'posts': "{% url 'api-posts' %}",
            'like': "{% url 'like' %}",
            'profile': "{% url 'profile' user=0 %}".slice(0, -2),
        };
    </script>
    <script type="module" src="{% static 'network/js/following.js' %}"></script>
{% endblock %}