@import 'variables';

.form-container {
    display: flex;
    justify-content: center;
}

#create-element-form {
    background-color: $color-light-green;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    width: 500px;
    border-radius: 10px;

    label {
        color: $color-light-blue;
    }

    input,
    textarea,
    select {
        margin-bottom: 1rem;
    }

    .create-btn-container {
        display: flex;
        justify-content: center;
    }

    .image-file-input {
        display: none;
    }

    .image-input-btn {
        margin: 1rem 0;
    }

    .image-preview-container {
        height: 300px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 1rem;

        .image-preview {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: 3px solid $color-olive;
            border-radius: 20px;
        }
    }
}