@import 'variables';

.element-view-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-group-normal {
        display: flex;
        flex-direction: column;

        :has(textarea) {
            width: 100%;
        }
    }

    .input-group-avatar {
        display: flex;
        flex-direction: column;
        width: 300px;

        .image-preview {
            &:hover {
                filter: brightness(80%);
                transition: all .3s;
            }
        }
    }

    .input-group-row {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
    }

    .input-group-trait {
        display: flex;
        gap: 1rem;

        input {
            color: $color-purple;
            max-width: 150px;

            &.textarea {
                max-width: 70%;
            }
        }
    }

    .input-group-normal,
    .input-group-row,
    .input-group-trait,
    .input-group-avatar {
        margin-bottom: 1rem;
    
        label {
            font-size: 2rem;
            color: $color-light-blue;
        }
        
        select {
            overflow: hidden;
            height: fit-content;
            width: 200px !important;

            option {
                text-align: center;
                margin-bottom: .3rem;
                
                &:last-child {
                    margin-bottom: 0;
                }

                &:checked {
                    padding: .3rem 1rem;
                    border-radius: 20px;
                    color: $color-light-green;
                    background-color: $color-light-blue;
                }
            }
        }

        input,
        textarea,
        select {
            width: 70%;
            padding: .5rem 1rem;
            color: white;
            border-radius: 10px;
            background-color: $color-light-green;
            resize: none;
            border: none;
            outline: none;
        }
    }

    .traits,
    .objectives {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: .5rem;

        .trait {
            grid-template-columns: 200px 500px 50px;
        }

        .objective {
            grid-template-columns: 100% 50px;
        }

        .trait,
        .objective {
            display: grid;
            
            &:hover {
                button {
                    &:has(.delete-trait) {
                        opacity: 1;
                        transition: all .3s;
                    }
                }
            }

            button {
                border: none;
                outline: none;
                background-color: transparent;
                color: red;
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
                text-align: center;
                margin-left: 1rem;

                &:has(.delete-trait) {
                    opacity: 0;
                }

                &:hover {
                    background-color: rgba($color: #ffffff, $alpha: 0.2);
                }
            }

            label {
                color: $color-purple;
                font-size: 1.5rem;
            }

            input {
                width: 100%;
            }
        }
    }

    .create-btn-container {
        display: flex;
        justify-content: center;
    }

    .image-file-input {
        display: none;
    }

    .image-input-btn {
        margin: 1rem 0;
    }

    .image-preview-container {
        overflow: hidden;
        margin-bottom: 1rem;
        padding: 0;

        &.circle {
            height: 300px;
            width: 300px;
            border-radius: 50%;
            border: 10px solid $color-purple;
        }

        &.rect {
            height: 300px;
            width: 400px;
            border-radius: 20px;
            border: 5px solid $color-purple;
        }

        .image-preview {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}