@import 'variables';

.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .character-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-light-green;
        width: 15rem;
        padding: 1rem 1rem;
        border-radius: 10px;
        margin-bottom: 1rem;
        text-decoration: none;

        .char-avatar {
            height: 100px;
            width: 100px;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid $color-purple;
            margin-bottom: .5rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .character-name,
        .character-stats {
            color: $color-light-blue;
            text-align: center;
        }

        .character-backstory {
            color: whitesmoke;
        }

        &:hover {
            transition: filter .3s;
            filter: brightness(1.3);
        }
    }
}