{% extends "storyapp/base_storyboard.html" %}
{% load static %}

{% block title %}Create Location{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'storyapp/css/create_element.css' %}">
<link rel="stylesheet" href="{% static 'storyapp/css/create_location.css' %}">
{% endblock %}

{% block storyboard %}
<h1 class="storyboard-subheader">Map Out a New World!</h1>

<div class="form-container">
    <form action="{% url 'storyapp:create-location' world_id=world.id %}" id="create-element-form">
        <label for="location-name" class="form-label">Location Name</label>
        <input type="text" name="location-name" id="location-name" class="form-control" placeholder="Enter the location's name...">
        
        <label for="location-description" class="form-label">Location Description</label>
        <textarea name="location-description" id="location-description" rows="3" class="form-control" placeholder="Provide a brief description of the location..."></textarea>
        
        <label for="location-history" class="form-label">Location History</label>
        <textarea name="location-history" id="location-history" rows="4" class="form-control" placeholder="Describe the historical background..."></textarea>
        
        <label for="location-significance" class="form-label">Location Significance</label>
        <textarea name="location-significance" id="location-significance" rows="4" class="form-control" placeholder="Explain why this location is significant..."></textarea>
        
        <div class="create-btn-container">
            <button class="btn-olive">Add This Amazing Place!</button>
        </div>
    </form>
</div>
{% endblock %}