{% extends "storyapp/base_storyboard.html" %}
{% load static %}

{% block title %}Create Character{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'storyapp/css/create_element.css' %}">
<link rel="stylesheet" href="{% static 'storyapp/css/create_character.css' %}">
{% endblock %}

{% block storyboard %}
<h1 class="storyboard-subheader">Craft Your Character's Story!</h1>

<div class="form-container">
    <form action="{% url 'storyapp:create-character' world_id=world.id %}" id="create-element-form">
        <label for="name" class="form-label">Character Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter a unique name...">
        
        <label for="age" class="form-label">Character Age</label>
        <input type="number" name="age" id="age" class="form-control" placeholder="e.g., 25">
        
        <label for="gender" class="form-label">Character Gender</label>
        <input type="text" name="gender" id="gender" class="form-control" placeholder="Male, Female, Other...">
        
        <label for="backstory" class="form-label">Character Backstory</label>
        <textarea name="backstory" id="backstory" rows="5" class="form-control" placeholder="Describe the character's origin, personality, and quirks..."></textarea>
    
        <div class="create-btn-container">
            <button class="btn-olive">Bring character to life!</button>
        </div>
    </form>
</div>
{% endblock %}