{% extends "storyapp/base_storyboard.html" %}
{% load static %}

{% block title %}Storyboard - Locations{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'storyapp/css/storyboard_locations.css' %}">
{% endblock %}

{% block storyboard %}
<h1 class="storyboard-subheader">Locations</h1>
<a class="btn-olive create-story-element" href="{% url 'storyapp:create-location' world_id=world.id %}">
    Add Location <i class="fa-solid fa-plus"></i>
</a>
<div class="locations">
    {% for location in world.locations.all %}
        <a href="{% url 'storyapp:location' world_id=world.id name=location.name %}" class="location-card">
            <h3 class="location-name">{{ location.name }}</h3>
            <p class="location-description">{{ location.description }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}