{% extends "storyapp/base_storyboard.html" %}
{% load static %}

{% block title %}Storyboard - Characters{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'storyapp/css/storyboard_characters.css' %}">
{% endblock %}

{% block storyboard %}
<h1 class="storyboard-subheader">Characters</h1>
<a class="btn-olive create-story-element" href="{% url 'storyapp:create-character' world_id=world.id %}">
    Add Character <i class="fa-solid fa-plus"></i>
</a>
<div class="characters">
    {% for character in world.characters.all %}
    <a href="{% url 'storyapp:character' world_id=world.id name=character.name %}" class="character-card">
        <div class="char-avatar">
            {% if character.image %}
                <img src="{{ character.image.url }}" alt="{{ character.name }} Avatar">
            {% else %}
                <img src="{% static 'storyapp/images/image_placeholder.png' %}">
            {% endif %}
        </div>
        <h3 class="character-name">{{ character.name }}</h3>
        {% if character.age or character.gender %}
        <h6 class="character-stats">{{ character.age }} - {{ character.gender }}</h6>
        {% endif %}
        <p class="character-backstory">{{ character.backstory }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}