{% extends "auctions/layout.html" %}

{% block body %}
    <div class="page-title">
        <h2>Create Listings</h2>
    </div>

    <div class="create-form">
        <div class="form-title">
            <h3>Create your auction!</h3>
        </div>
        <form class="row gy-2 gx-3" action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-12">
                <div class="form-floating">
                    {{ form.title }}
                    <label for="id_title" class="form-label">Item Title</label>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-floating">
                    {{ form.starting_price }}
                    <label for="id_starting_price" class="form-label">Starting Price $</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    {{ form.description }}
                    <label for="id_description" class="form-label">Item Description</label>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-floating d-flex align-items-center">
                    {{ form.category }}
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="form-floating">
                    {{ form.image }}
                    <label for="id_image" class="form-label">Image URL</label>
                </div>
            </div>
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-dark">Create Your Auction</button>
            </div>
        </form>
    </div>
{% endblock %}