{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h1 class="page-title">
        {% if category %}
            {{ category }} Listings
        {% else %}
            Active Listings
        {% endif %}
    </h1>

    <div class="listings">

        <div class="d-flex flex-wrap justify-content-evenly index-flex">
        {% for listing in listings %}
            <div class="">
                <div class="index-card card border-dark" style="width: 15rem;">
                    <a href="{% url 'listing' listing_id=listing.id %}">
                        {% if listing.image %}
                            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title text-dark">{{ listing.title }}</h4>
                            <h6 class="card-subtitle text-body-secondary mb-2">
                                {% if listing.highest_bid %}
                                    Highest Bid: ${{ listing.highest_bid }}
                                {% else %}
                                    Starting Price: ${{ listing.starting_price }}
                                {% endif %}
                            </h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'category' listing.category.id%}" class="btn btn-sm btn-success">{{ listing.category }}</a>
                            </li>
                        </ul>
                        <div class="card-body">
                            <p class="card-text">
                                {% if listing.description|length > 20 %}
                                    {{ listing.description|slice:":20" }} ...
                                {% else %}
                                    {{ listing.description }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <small>{{ listing.created|naturaltime }}</small>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}