{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h1 class="page-title">
        {% if category %}
            {{ category }} Listings
        {% else %}
            Active Listings
        {% endif %}
    </h1>

    <div class="listings">

        <div class="d-flex flex-wrap justify-content-evenly index-flex">
        {% for listing in listings %}
            <div class="">
                <div class="index-card card" style="width: 15rem; border: 1px solid {{ listing.category.color }};">
                    <a href="{% url 'listing' listing_id=listing.id %}">
                        {% if listing.image %}
                            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title text-dark">{{ listing.title }}</h4>
                            <h6 class="card-subtitle text-body-secondary mb-2">
                                {% if listing.highest_bid %}
                                    Highest Bid: ${{ listing.highest_bid }}
                                {% else %}
                                    Starting Price: ${{ listing.starting_price }}
                                {% endif %}
                            </h6>
                            {% with color=listing.category.color %}
                                <a style="color: black; border: 1px solid {{ color }};" class="btn btn-sm ms-1" href="{% url 'category' listing.category.id%}">
                                    {{ listing.category }}
                                </a>
                            {% endwith %}
                        </div>
                        <div class="card-footer">
                            <small>{{ listing.created|naturaltime }}</small>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}