{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="listings">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gx-0 gy-4">
        {% for listing in listings %}
            <div class="col">
                <div class="card border-dark" style="width: 15rem;">
                    <a href="{% url 'listing' listing_id=listing.id %}">
                        {% if listing.image %}
                            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title text-dark">{{ listing.title }}</h4>
                            <h6 class="card-subtitle text-body-secondary mb-2">
                                {% if listing.highest_bid %}
                                    Highest Bid: ${{ listing.highest_bid }}
                                {% else %}
                                    Starting Price: ${{ listing.starting_price }}
                                {% endif %}
                            </h6>
                            <p class="card-text">{{ listing.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <!-- <span class="badge text-bg-success">{{ listing.category }}</span> -->
                                <a href="{% url 'category' listing.category.id%}" class="btn btn-sm btn-success">{{ listing.category }}</a>
                            </li>
                        </ul>
                        <div class="card-footer">
                            <small>{{ listing.created|naturaltime }}</small>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}