{% extends "auctions/layout.html" %}

{% block body %}

    <div class="listing-page-view">
        <div class="listing-page-item">
            <h1>{{ listing.title }}</h1>
            <div id="listing-page-img">
                <img src="{{ listing.image }}">
            </div>
        </div>
        <div class="listing-page-info">
            <div class="listing-page-bid semi-white-background">
                <h3>
                    {% if listing.highest_bid %}
                        Current Bid: ${{ listing.highest_bid}}
                    {% else %}
                        No bids (Starting price: ${{ listing.starting_price }})
                    {% endif %}
                </h3>
            </div>
            <h5 id="listing-page-desc" class="semi-white-background">
            {{ listing.description }}
            </h5>
            {% if listing.open %}
                <div class="listing-page-btns">
                    <form class="input-group" action="{% url 'bid' listing_id=listing.id %}" method="post">
                        {% csrf_token %}
                        {{ bid_form.amount }}
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success">Bid</button>
                        </div>
                    </form>
                    <form action="{% url 'wishlist' listing_id=listing.id %}" method="post" class="wishlist-form">
                        {% csrf_token %}
                        {% if not user_in_wishlist %}
                            <button class="btn btn-primary">Add to Wishlist</button>
                        {% else %}
                            <button class="btn btn-primary">Remove from Wishlist</button>
                        {% endif %}
                    </form>
                </div>
                {% if request.user == listing.owner %}
                    <form action="{% url 'listing' listing_id=listing.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger">Close Auction</button>
                    </form>
                {% endif %}
            {% else %}
                <div class="semi-white-background">
                    Auction over! Won by {{ highest_bid.user }}!
                </div>
            {% endif %}
        </div>
    </div>
    <hr class="listing-divider">
    <div class="comments">
        <h2>Comments</h2>
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ comment_form.user_comment }}
                <label for="{{ comment_form.user_comment.id_for_label }}">{{ comment_form.user_comment.label }}</label>
            </div>
            <button class="btn btn-dark" type="submit">Post</button>
        </form>
        {{ form }}

        {% if comments %}
            <ul id="user-comments">
                {% for comment in comments %}
                <li class="user-comment">
                    {{ comment.user }}: {{ comment.content }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if error %}
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                alert("{{ error }}");
            })
        </script>
    {% endif %}
{% endblock %}
 

