{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}

    {% if listing.open %}
        {% with columns=listing.image|yesno:"3,2" %}
        <div class="row row-cols-1 row-cols-md-{{ columns }} gy-4 listing-details">

            {% if listing.image %}
            <div class="col">
                <div class="card border-dark">
                    <img src="{{ listing.image }}" alt="{{ listing.title }}" class="card-img-top card-img-bottom">

                </div>
            </div>
            {% endif %}

        {% endwith %}

            <div class="col">
                <div class="card border-dark" >
                    <div class="card-body">
                        <h3 class="card-title">{{ listing.title }}</h3>
                        <p class="card-text">{{ listing.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Category</strong>
                            <a class="btn btn-success category-btn ms-2" style="background-color: {{ listing.category.color }};" href="{% url 'category' listing.category.id%}">
                                {{ listing.category }}
                            </a>
                        </li>
                        <li class="list-group-item text-body-secondary" id="HighestBid">
                            {% if bids %}
                                <strong>Highest Bid: ${{ listing.highest_bid }}</strong> by {{ bids.0.user }}
                            {% else %}
                                Starting Price: ${{ listing.starting_price }}
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <form class="input-group" id="bid-form" data-listing-id="{{ listing.id }}">
                                {% csrf_token %}
                                <span class="input-group-text">$</span>
                                <div class="form-floating">
                                    <input type="number" class="form-control" name="bid_amount" id="BidAmount" placeholder="Place a Bid">
                                    <label for="BidAmount">Place a Bid</label>
                                </div>
                                <button class="btn btn-dark" type="submit">Bid</button>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <form class="d-flex flex-wrap justify-content-between" id="listingOptionsForm" data-listing-id="{{ listing.id }}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary mb-1"  id="watchlistButton" data-action="watchlist">
                                    {% if user_in_watchlist %}
                                        Remove Watchlist
                                    {% else %}
                                        Add to Watchlist
                                    {% endif %}
                                </button>
                                {% if user == listing.owner %}
                                    <button type="submit" class="btn btn-danger mb-1" data-action="close">Close Auction</button>
                                {% endif %}
                            </form>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <small>Started {{ listing.created|naturaltime }}</small>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card border-dark" style="max-width: 20em;">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Bid History</h3>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush" style="max-height: 15em; overflow-y: auto;" id="BidHistory">
                        {% if bids %}
                            {% for bid in bids %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <h6><strong>{{ bid.user }}</strong> bid ${{ bid.amount }}</h6>
                                    <small>{{ bid.created|naturaltime }}</small>
                                </div>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item" id="no-bids-history">
                                <div class="d-flex justify-content-between">
                                    <h6><strong>{{ bid.user }}</strong> No bids yet. Be the first to place yours!</h6>
                                    <small>{{ bid.created|naturaltime }}</small>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    {% else %}
        <div class="card text-center text-bg-light border-dark" style="width: 50%; margin: 2em auto;">
            <div class="card-body">
                <h1 class="card-title">
                    {% with bid=bids.0 %}
                        {% if user == bid.user %}
                            Congrats! You have won this auction for ${{ bid.amount }}! 
                        {% else %}
                            Auction won by {{ bid.user.username }} for ${{ bid.amount }}!
                        {% endif %}
                    {% endwith %}
                </h1>
            </div>
            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="card-img-bottom">
        </div>
    {% endif %}

    <hr class="listing-divider">
    <div class="comments">
        <h2>Comments</h2>

        {% if listing.open %}
            <form class="mb-3" action="{% url 'comment' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ comment_form.user_comment }}
                    <label for="{{ comment_form.user_comment.id_for_label }}">{{ comment_form.user_comment.label }}</label>
                </div>
                <button class="btn btn-dark" type="submit">Post</button>
            </form>
        {% endif %}

        <ul class="list-group">
            {% if comments %}
                {% for comment in comments %}
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold mb-2">{{ comment.user }}</div>
                            {{ comment.content }}
                        </div>
                        {{ comment.created|naturaltime }}
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item d-flex justify-content-between">
                    <div class="ms-2 me-auto">
                        <h3 class="m-2">
                            {% if listing.open %}
                                No comments yet, be the first to comment!
                            {% else %}
                                No comments
                            {% endif %}
                        </h3>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>


    {% if error %}
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                alert("{{ error }}");
            })
        </script>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Bid form submission
            document.getElementById("bid-form").addEventListener('submit', function (event) {
                event.preventDefault();

                const formData = new FormData(this);
                formData.set('listing_id', this.getAttribute('data-listing-id'));
                const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

                fetch("{% url 'bid' %}", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    const bid = data.bid;

                    if (data.success) {

                        // update the highest bid shown
                        HighestBidText = `<strong>Highest Bid: $${bid.amount}</strong> by ${bid.user}`;
                        document.getElementById('HighestBid').innerHTML = HighestBidText;

                        bidHistory = document.getElementById('BidHistory');
                        const newHistory = document.createElement('li');

                        newHistory.classList.add('list-group-item');
                        newHistory.innerHTML = `<div class="d-flex justify-content-between">
                                <h6><strong>${bid.user}</strong> bid $${bid.amount}</h6>
                                <small>${data.time}</small>
                            </div>`;
                        
                        bidHistory.insertBefore(newHistory, bidHistory.firstChild);

                        noBidsHistory = document.getElementById('no-bids-history');
                        if (noBidsHistory) {
                            noBidsHistory.remove();
                        }

                        this.reset();
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => console.error('Error: ', error));
            });

            // watchlist and close auction
            const listingOptionsForm = document.getElementById('listingOptionsForm');

            listingOptionsForm.addEventListener('click', function(event) {
                const action = event.target.getAttribute('data-action');
                const listingId = this.getAttribute('data-listing-id');

                if (action) {
                    event.preventDefault();

                    const formData = new FormData(this);
                    formData.set('action', action);
                    formData.set('listing_id', listingId);

                    let url;
                    if (action === 'watchlist') {
                        url = "{% url 'watchlist' %}";
                    } else if (action === 'close') {
                        url = "{% url 'close' %}";
                    }
                    console.log('url', url)

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                        },
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('data: ', data)
                        if (data.success) {
                            console.log(data.action);
                            switch (data.action){
                                case 'watchlist': {
                                    const watchlistButton = document.getElementById('watchlistButton')

                                    if (watchlistButton.textContent.trim() === "Add to Watchlist") {
                                        watchlistButton.textContent = "Remove Watchlist";
                                    } else {
                                        watchlistButton.textContent = "Add to Watchlist";
                                    }

                                    break;
                                }
                                case 'close': {
                                    console.log('case closed');
                                    location.reload();
                                    break;
                                }
                            }
                        } else {
                            if (data.action === 'close') {
                                alert(data.message);
                            }
                        }
                    })
                    .catch(error => {
                        console.log("Error: ", error);
                    })
                }
            });
        })
        

    </script>
{% endblock %}