{% extends "auctions/layout.html" %}

{% block body %}

    <div class="page-title">
        <h2>Register</h2>
    </div>

    <div class="d-flex justify-content-center">
        <div class="auctions-form" style="width: 25rem;">
            <form class="row gy-4" action="{% url 'register' %}" method="post" id="register-form">
                {% csrf_token %}
                <div class="col-12">
                    <div class="form-floating">
                        <input class="form-control" autofocus type="text" name="username" placeholder="Username" id="username" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input class="form-control" type="email" name="email" placeholder="Email Address" id="email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input class="form-control" type="password" name="password" placeholder="Password" id="password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" id="confirm" required>
                        <label for="confirm">Confirm Password</label>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <input class="btn btn-primary mx-auto" type="submit" value="Register">
                </div>
                <div class="text-center">
                    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        const form = document.getElementById('register-form');
        form.scrollIntoView({behavior:"smooth", block:"center"});
        
        {% if message %}
            document.addEventListener('DOMContentLoaded', () => {
                alert('{{ message }}')
            })
        {% endif %}
    </script>

{% endblock %}