{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Edit {{ form.title }}
{% endblock %}

{% block body %}
    <form class="create-form" action="{% url 'edit' title=form.title %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.content.label }}
            {{ form.content }}
            <small class="form-text text-muted">Markdown is supported</small>
        </div>
        <div class="form-group">
            <input class="btn btn-warning" type="submit" value="Edit">
        </div>
    </form>
{% endblock %}